#light.app {
  color: $navy;
  background-color: $gray-blue-100;
}

#light .marquee1,
#light .marquee2,
#light .marquee3 {
  span {
    color: $background-text-light;
  }
}

#light .todolist {
  background-color: $off-white;

  #{&}-topsection {
    .title {
      color: $navy;
    }
  }

  .input-section {
    .emptyscreen {
      .emptyscreen-title {
        color: $gray-blue-400;
      }
    }

    .addbutton {
      color: $off-white;
      background-color: $blue;
      box-shadow: 0 0 8px 3px rgb(20 121 249 / 10%);

      &:hover {
        box-shadow: 0 0 8px 3px rgb(33 50 94 / 10%);
      }
    }

    .addactive {
      background-color: $navy;
    }
  }
}

#light .date {
  color: $gray-blue-400;
  background-color: $gray-blue-100;
}

#light .themeswitch {
  background-color: $off-white;
  color: $gray-blue-400;

  .light {
    &:hover {
      color: $navy;
    }
  }

  .light-active {
    color: $navy;
  }

  .dark {
    &:hover {
      color: $navy;
    }
  }

  .dark-active {
    color: $navy;
  }
}

#light .listitem {
  background-color: $white;

  &:hover {
    box-shadow: 0 0 8px 3px rgb(20 121 249 / 10%);
  }

  .entry {
    .radiobutton {
      color: $gray-blue-300;

      &:hover {
        color: $navy;
      }
    }
  }

  .finished {
    color: $gray-blue-200;
  }

  .entry-buttons {
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(255, 255, 255, 0.62) 0%,
      rgba(255, 255, 255, 1) 36%
    );

    button {
      color: $gray-blue-300;

      &:hover {
        color: $navy;
      }
    }
  }
}

#light .addtodoform {
  background-color: $white;
  input {
    color: $navy;

    &::placeholder {
      color: $gray-blue-300;
    }
  }

  .addbuttons {
    button {
      color: $gray-blue-300;

      &:hover {
        color: $navy;
      }
    }
  }
}

#light .edittodoform {
  .editinput {
    input {
      color: $gray-blue-500;
    }
  }
}
