.todolist {
  max-width: 35em;
  width: 85%;
  max-height: 35em;
  height: 80%;
  padding: 4em 0em;
  box-shadow: 0 1px 12px rgb(0 0 0 / 3%);
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  position: relative;

  #{&}-topsection {
    display: flex;
    justify-content: space-between;
    padding: 0em 3.5em;

    .title {
      font-family: $font-family-title;
      font-weight: bold;
      font-size: 3.2em;
      letter-spacing: 1px;
      align-self: flex-end;
    }
  }

  .input-section {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .emptyscreen {
      animation-name: fadeIn;
      animation-duration: 300ms;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5em;

      .emptyscreen-img {
        width: 85%;
      }

      .emptyscreen-title {
        text-align: center;
        font-size: 1em;
        width: 18em;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .dimscreen {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 2;
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(2px);
    }

    .addbutton {
      z-index: 2;
      border: none;
      position: absolute;
      bottom: 3.5em;
      right: 3.5em;
      width: 5em;
      height: 5em;
      border-radius: 10em;
      transition: all 300ms ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .todolist {
    #{&}-topsection {
      padding: 0em 2.8em;

      .title {
        font-size: 2.5em;
      }
    }

    .input-section {
      .emptyscreen {
        .emptyscreen-title {
          font-size: 0.9em;
        }
      }

      .addbutton {
        right: 2.8em;
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .todolist {
    height: 60%;
    #{&}-topsection {
      padding: 0em 2.5em;
      .title {
        width: 30%;
      }
    }

    .input-section {
      .addbutton {
        right: 2.5em;
      }
    }
  }
}

@media only screen and (max-height: 500px) {
  .todolist {
    .input-section {
      .emptyscreen {
        .emptyscreen-img {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) and (max-height: 350px) {
  .todolist {
    .input-section {
      .emptyscreen {
        .emptyscreen-title {
          display: none;
        }
      }
      .addbutton {
        display: none;
      }
    }
  }
}
